/*@import url(http://fonts.googleapis.com/css?family=Bilbo);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@font-face {
  font-family: 'Bilbo';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Regular'), local('Bilbo-Regular'), url(../font/Yxni0HHGbarBJRvB0FZy26CWcynf_cDxXwCLxiixG1c.woff) format('woff');
}*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,300italic,500,700,900);
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Kreon');
@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

html, body{
  height: 100%;
  width: 100%;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background: #f5f8fa;
  font-size: 15px;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
}

.btn-social {
  font-size: 16px;
  line-height: 43px !important;
  height: 43px !important;
}

.btn-social :first-child {
  left: 16px !important;
  top: 2px !important;
  line-height: 41px !important;
}

.btn-social span{
  margin-left: 16px;
}

.modal-sm {
  width: 440px !important;
}

/*Helpers*/
.mg-top{
  margin-top: 20px;
}

.mg-btm{
  margin-bottom: 20px;
}

body{
  /*background: #f6f8f8;*/
}

/* Navbar */
.navbar{
  min-height: 60px;
}
.navbar-default{
  border: none;
}
.navbar-brand {
  line-height: 30px;
  height: 60px;
  font-size: 30px;
  margin-left: 15px !important;
  width: 130px;
}
.navbar-header{
  border-right: 1px solid #116AC5;
  margin-right: 20px !important;
  padding-right: 20px;
  padding-left: 20px;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: #fff;
}

.navbar-form{
  padding: 0px;
  margin: 0px;
}

.main-well{
  background: transparent;
  border: none;
}

.my-video-dimensions{
  width: 100%;
}

.well, .panel-default{
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-color: #d3e0e9;
}

/*Navbar Search*/

.navbar-primary .form-control,.navbar-primary .form-control:focus {
    background: #207de5;
    height: 60px;
    color:#fff;
    font-size: 18px;
}

.navbar-primary .form-control::-webkit-input-placeholder {
   color: #fff;
}

.navbar-primary .form-control:-moz-placeholder { /* Firefox 18- */
   color: #fff;
}

.navbar-primary .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
}

.navbar-primary .form-control:-ms-input-placeholder {
   color: #fff;
}

/*.navbar-primary .form-control:focus{
  width: 150%;
  margin-left: -50%;
}*/

.navbar-form .input-group-addon{
  background: transparent;
  font-size: 18px;
  color: #fff;
  border:none;
  padding-right: 3px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background: transparent;
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
  color: #fff;
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #fff !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  background-color: #2982e6;
  color: #fff;
}

.navbar-nav>li>a {
  line-height: 30px;
}

.navbar-nav>li{
  color: #fff !important;
}

.video-home{
  width: 300px;
  display: inline-block;
}

.modal-content {
  top:50px !important;
}

.modal-content .panel{
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 0px !important;
}

.modal-main {
  width: 518px;
}

.panel-body .modal-title {
  margin-bottom: 28px !important;
  color: #6b6b6b;
  font-size: 24px;
  text-transform: uppercase;
}

.handle-btn {
  margin-top: 15px;
}

/* Backdrop for modal */
.fade.in{
  background: rgba(0, 0, 0, 0.2);
}

/* Uploader */
.upload-container {
  margin:0 auto;
  background: #fff;
  border-radius: 2px;
  border:1px solid #d3e0e9;
  display: block;
  min-height: 400px;
  width: 50%;
  position: relative;
  text-align: center;
  padding:20px;
  margin-top: 40px;
}

#uploadVideos, .dropzone{
  min-height: 400px;
  border:none;
  padding: 0px;
}

.btn-upload{
  padding: 9px 18px;
  cursor: pointer !important;
}

.upl-max-txt{
  margin-bottom: 0px;
}

.upl-mini-txt{
  color: #969A99;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 7px;
}

.btn-upl-lft{
    border-right:2px solid #1369CA;
}

.dropzone .dz-preview .dz-image{
  border: 1px solid #d3e0e9 !important;
  border-radius: 5px;
}

.dropzone .dz-preview .dz-error-mark svg, .dropzone .dz-preview .dz-success-mar
 svg{
  width:25px;
  height: 25px;
}

.dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark{
    margin-left: -16px;
    margin-top: -13px;
}

.dropzone.dz-clickable {
    cursor: default !important;
}

.dropdown-menu{
  font-size:15px;
}

/* Custom theme for Dropzone */
.uploader-template{
  border:1px solid rgba(221,221,221,0.68);
  border-radius: 4px;
  margin: 50px;
  height: 220px;
  padding: 10px;
}

/*.uploader-template .preview-img{
  height: 120px;
  display: inline-block;
  margin: 2px;
}
*/
.uploader-template .dz-details{
  height: 120px;
  margin-left: 35px;
}

.uploader-template h4{
  display: inline-block;
  margin-right: 15px;
}

.uploader-template .dz-size h5{
  display: inline-block;
  margin-right: 15px;
  margin-left: -60px;
}

.uploader-template .dz-filename span {
  font-size: 17px;
}

.uploader-template .dz-size span{
  font-size: 15px;
}

#select2-drop{
  width: 100% !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #d3e0e9;
  outline: 0;
}

#wrapper {
  padding-top: 70px;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/*Buttons*/
.mdl-red {
  background-color: #ff4081 !important;
}

.btn-upload {
  width: 200px;
}

.modal-content, .modal-header{
  border: none !important;
}

.mdl-layout-title{
  color: #fff !important;
}

a:focus, a:hover{
  text-decoration: initial !important;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after{
  background: rgb(255, 255, 255) !important;
  height: 3px !important;
}


/*Cards*/

.card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.card-square > .mdl-card__title {
  color: #fff;
}

.mdl-layout__header{
  z-index: 7 !important;
}

.mdl-layout__obfuscator.is-visible{
  opacity: 0 !important;
}

.mdl-card__title-text{
  font-size: 26px;
}

.mdl-cat__title-text.material-icons{
  margin-right: 5px !important;
}

/*.mdl-mega-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}*/

.mdl-layout-title {
  font-size: 27px;
  font-family: 'Slabo 27px', sans-serif;  /*'Slabo 27px', sans-serif; 'Architects Daughter', cursive; */
}

.searchbar {
  top: 12px !important;
  left: 0;
  right: 0;
  position: absolute !important;
  margin: auto;
  opacity: 1;
  width: 40%;
  background: transparent;
}

.searchbar .search-input {
  border: none;
  background: #fff;
  font-size: 18px;
}

.searchbar input[type=text] {
  height: 40px;
}

.searchbar .search-input:focus {
  box-shadow: none;
  border: none;
}

.searchbar .btn{
  border: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  padding-bottom: 6px;
  padding-top: 7px;
  font-size: 18px;
}

.searchbar .btn:focus, .searchbar .btn:hover {
  border: 1px solid #e6e6e6;
 }

.center { 
  display: table;
  margin: 0 auto;
}

.mdl-layout__header .mdl-layout__drawer-button {
  display: none;
}

.mdl-layout--fixed-drawer.is-upgraded:not(.is-small-screen)>.mdl-layout__header {
  margin-left: 0px !important;
  width: 100% !important;
}

.mdl-layout--fixed-drawer>.mdl-layout__header .mdl-layout__header-row {
  z-index: 10 !important;
}

.card-wide.mdl-card {
  width: 512px;
  margin-bottom: 50px;
}

.card-wide > .mdl-card__title {
  color: #fff;
}

.card-wide > .mdl-card__title img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-layout--fixed-drawer>.mdl-layout__content{
  margin-right: 200px !important;
  margin-left: 200px !important;
}

.mdl-layout__drawer{
  width: 200px !important;
}

.mdl-layout__drawer-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 200px;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(250px);
  -ms-transform: translateX(250px);
  transform: translateX(250px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
}

.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);  
}

.mdl-navigation__link {
  font-size: 16px;
  cursor: pointer;
}

#user-menu-lower-right{
  color: #fff;
  margin-right: 50px;
}

#user-name {
  font-weight: 500;
  color: #878787;
}

img:focus, canvas:focus, :focus {
  outline: none;
}

/* Tags */
.mdl-chip {
  margin-left: 5px;
  background-color: #607d8b;
  color: #fff;
}

.favorite-icon {
  font-size: 30px;
}

.share-outer {
  float: right;
}

.gif-play {
  z-index: 999999;
  color: #fff;
  font-size: 60px;
  margin-left: -32px;
  position: absolute;
  left: 50%;
}